language: R
dist: focal
os: linux
warnings_are_errors: true
addons:
  apt:
    packages:
      - libmagick++-dev
      - libnode-dev
r_packages:
  - brms
  - covr
  - devtools
  - MCMCglmm
cache: packages  # cache install of dependent packages
after_success:
  - Rscript -e 'library(covr); codecov()'
